# NS-3 전체 빌드 폴더 무시
!v1/ns-allinone-3.40/build.py
!v1/ns-allinone-3.40/constants.py
!v1/ns-allinone-3.40/README.md
!v1/ns-allinone-3.40/util.py

# 외부 리포지토리 또는 기타 링크 파일 무시
v1/external/dvds/

# Python 가상환경 무시
v1/venv/
v2/venv/

# 기타 일반적으로 무시되는 항목들
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
*.log
*.tar.gz
*.bak
